html {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  background: #0c6cff;
  background: linear-gradient(90deg, #0c6cff 0%, #00d1ff 100%);
}

body {
  position: relative;
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
}

.logo {
  font-family: "Shippori Antique", sans-serif;
  color: #002b6a;
  letter-spacing: 1ch;
  z-index: 2;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: clamp(2rem, 2.2vw, 3rem);
  color: #002b6a;
}

h2 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1rem;
  color: #0054d0;
}

h3 {
  font-family: "Rubik", sans-serif;
  font-size: 2.5rem;
  color: #002b6a;
}

h4 {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #0054d0;
}

span {
  vertical-align: baseline;
}

.container {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25));
  width: 600px;
  border-radius: 25px;
  position: relative;
}

.container * {
  position: relative;
}

.container .input-bar {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.container #search {
  background-color: rgba(255, 255, 255, 0.5);
  line-height: 2.25rem;
  font-size: 1rem;
  font-weight: 900;
  width: 80%;
  border: solid;
  border-color: transparent;
  border-radius: 25px;
  padding-inline: 25px;
  font-family: "Merriweather Sans", sans-serif;
  color: #0054d0;
}

.container #search:hover, .container #search:focus {
  outline: transparent;
}

.container #search::placeholder {
  font-family: "Merriweather Sans", sans-serif;
  color: #5977b1;
  opacity: 1;
}

.container button {
  position: absolute;
  z-index: 2;
  left: 87%;
  top: 11px;
  background-color: transparent;
  border: none;
}

.container svg {
  fill: #002b6a;
}

.circle1, .circle2 {
  position: absolute;
  width: 300px;
  height: 300px;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.01));
  border-radius: 50%;
}

.circle1 {
  top: -30px;
  left: -30px;
}

.circle2 {
  bottom: -30px;
  right: -30px;
}

.main.loading {
  display: none;
}

.main {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0 3rem 3rem 3rem;
  width: 100%;
}

.main .main-left {
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex-basis: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 25px;
  padding: 1.75rem;
}

.main .main-left img {
  width: 50px;
}

.main .main-left > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.main .main-right {
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 1rem;
  margin-right: 0;
  padding-right: 0;
  margin-left: 30px;
}

.main .main-right > * {
  width: 46%;
  aspect-ratio: 1;
  background-color: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 20%;
}

.main .main-right h2 {
  padding-top: 7px;
  padding-left: 20px;
  font-size: .8rem;
  color: #5977b1;
  position: relative;
}

.main .main-right h2 > div > span {
  font-size: .95rem;
}

.main .main-right h2 > div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.main .main-right .numerics {
  font-size: clamp(1.75rem, 2vw, 2rem);
  font-family: "Rubik", sans-serif;
  color: #002b6a;
}

.main .main-right span {
  color: #002b6a;
}

.main .main-right svg {
  fill: #5977b1;
  display: inline-block;
  vertical-align: middle;
}

@media all and (max-width: 700px) {
  html {
    overflow-y: visible;
    overflow-x: visible;
  }
  .logo {
    margin-bottom: 0;
  }
  .container {
    width: 95%;
  }
  .main {
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
  }
  .main .main-right {
    margin: 0;
    justify-content: center;
    width: 100%;
  }
  .main .main-right h2 {
    border-radius: 25px;
    width: 100%;
    aspect-ratio: 4/1;
  }
  .main .main-left {
    margin-bottom: 2rem;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, svg, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/*# sourceMappingURL=styles.css.map */